<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      DATA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar style="height: 100px; display: flex;">
      <ion-title size="large">Metrics</ion-title>
      <ion-title size="large">Total Time: {{sum}}</ion-title>
      <ion-title size="large">Total Plays: {{total_num}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list [inset]="true">
    <ion-item *ngFor="let item of items">
      <ion-label>Time: {{item}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>