<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      DON'T BLINK
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar *ngIf="time_counter>1">
      <ion-title size="large">Current Time: {{time_counter > 1 ? time_counter: ''}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content-container">
    <video class="user-media" id="user-video" autoplay playsinline></video>
    <canvas class="user-media" id="user-canvas"></canvas>

    <ion-button *ngIf="time_counter<=1" [color]="tracking ? 'danger' : 'primary'" style="width: 50%">
      <ion-label class="ion-padding" (click)="toggleTracking()">{{!tracking ? 'Play Now' : 'Stop
        Tracking'}}</ion-label>
    </ion-button>
  </div>

</ion-content>